<!-- banner -->
<div class="innerpage-banner" id="home">
    <div class="inner-page-layer">
    </div>
</div>
<!-- //banner -->

<!-- Services -->
<section class="services-inner py-5">
    <div class="container py-md-3">
        <h2 class="heading text-center mb-sm-5 mb-4">Dịch vụ</h2>
        <div class="row service-grids">
            <div class="row col-lg-6 mb-5 padder-none">
                <div class="col-sm-3 ser_icon">
                    <span class="icon bg1 mx-auto">
						<span class="fa fa-heartbeat"></span>
                    </span>
                </div>
                <div class="col-sm-9 mt-sm-0 mt-3">
                    <h4>Tẩy trắng răng</h4>
                    <p class="">Liệu trình làm trắng răng tại phòng nha chuyên nghiệp bao gồm 3 bước: cạo vôi, đánh bóng và tẩy trắng răng. Các bác sĩ kết hợp giữa thuốc có nồng độ tẩy trắng cao 35 – 37% và chùm ánh sáng với cường độ mạnh để kích hoạt thuốc ngấm
                        sâu hơn. Trước khi sử dụng thuốc tẩy trắng, bác sĩ đeo dụng cụ bảo vệ môi, nướu, khoang miệng; đồng thời bôi thêm thuốc chống ê buốt để khách hàng cảm thấy thoải mái.</p>
                </div>
            </div>
            <div class="row col-lg-6 mb-sm-5 padder-none">
                <div class="col-sm-9 text-sm-right">
                    <h4>Chỉnh nha và trám răng</h4>
                    <p class="">Invisalign là một kỹ thuật điều trị mới của công nghệ chỉnh nha ngày nay. Invisalign là một loạt khay trong suốt được bệnh nhân mang để di chuyển răng theo mong muốn của bác sĩ và bệnh nhân. Vậy Invisalign có những ưu và nhược điểm
                        gì? Bạn có thích hợp để điều trị bằng Invisalign? Hãy cùng tìm hiểu thêm nhé.</p>
                </div>
                <div class="col-sm-3 mt-sm-0 mt-4 ser_icon ser-right">
                    <span class="icon bg2 mx-auto">
						<span class="fa fa-stethoscope"></span>
                    </span>
                </div>
            </div>
            <div class="row col-lg-6 mb-lg-0 mb-5 mt-sm-0 mt-5 padder-none">
                <div class="col-sm-3 mb-sm-0 mb-4 ser_icon">
                    <span class="icon bg3 mx-auto">
						<span class="fa fa-bullseye"></span>
                    </span>
                </div>
                <div class="col-sm-9">
                    <h4>Nha khoa thẩm mỹ</h4>
                    <p class="">Nếu bạn đã từng mong muốn một kết quả tẩy trắng răng hiệu quả nhất có thể, bạn có thể nghĩ đến hệ thống Zoom White Speed – thế hệ đèn tẩy trắng mới nhất năm 2015 của Philips, vừa được trang bị tại nha khoa G-Dental.</p>
                </div>
            </div>
            <div class="row col-lg-6 padder-none">
                <div class="col-sm-9 text-sm-right">
                    <h4>Kiểm tra định kỳ</h4>
                    <p class="">Đến với nha khoa G-Dental các bạn sẽ được tư vấn miễn phí và kiểm tra răng định kỳ để đảm bảo sức khỏe răng miệng ở mức tốt nhất.</p>
                </div>
                <div class="col-sm-3 mt-sm-0 mt-4 ser_icon ser-right">
                    <span class="icon bg4 mx-auto">
						<span class="fa fa-user-md"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Services -->


<!-- services -->
<section class="services py-5">
    <div class="container py-lg-5">
        <h3 class="heading text-center mb-5">Điều trị</h3>
        <div class="row offer-grids">
            <div class="col-lg-4 col-md-6 mt-4" *ngFor="let item of Treatment; let i=index">
                <div class="ser1">
                    <div class="bg-layer">
                        <h4 class="">{{item.name}}</h4>
                        <p class="mt-3">{{item.description | formatLongstring}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- //services -->

<!-- join -->
<section class="join py-5">
    <div class="container py-lg-5 py-sm-3">
        <div class="row join_grids">
            <div class="col-lg-6">
                <img src="images/b.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6">
                <h4 class="mt-4">Đặt lịch khám cho bạn ngay hôm nay</h4>
                <p class="py-sm-4 py-3">Quy trình kiểm tra và khám nhanh chóng với đội ngũ bác sĩ chuyên nghiệp, cùng với đó là trang thiết bị-công nghệ hiện đại.</p>
                <p class="pb-3">Đến lượt bạn rối đấy.</p>
                <a class="btn btn-outline-primary text-capitalize" href="#registerForm" role="button">Đặt ngay</a>
            </div>
        </div>
    </div>
</section>
<!-- //join -->