<!-- banner -->
<div class="banner" id="home">
    <div class="layer">
        <div class="container">
            <div class="banner-text-agile">
                <div class="row">
                    <div class="col-lg-6 p-0">
                        <!-- banner slider-->
                        <div class="csslider infinity" id="slider1">
                            <input type="radio" name="slides" checked="checked" id="slides_1" />
                            <input type="radio" name="slides" id="slides_2" />
                            <input type="radio" name="slides" id="slides_3" />
                            <ul class="banner_slide_bg">
                                <li>
                                    <div class="container-fluid">
                                        <div class="w3ls_banner_txt">
                                            <h3 class="b-w3ltxt text-capitalize mt-md-4" style="font-family: 'Segoe UI'"><span>Dịch vụ
												</span><br>Chất lượng.</h3>
                                            <p class="w3ls_pvt-title my-3">Với các trang thiết bị tiên tiến cùng đội ngũ bác sĩ giàu kinh nghiệm, chúng tôi cam kết sẽ mang lại cho bạn những trãi nghiệm và chất lượng tốt nhất.</p>
                                            <a href="about.html" class="btn btn-banner my-sm-3 mb-3">Đọc thêm</a>
                                            <a href="contact.html" class="btn btn-banner1 my-sm-3 mb-3">Ý kiến chuyên gia</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="container-fluid">
                                        <div class="w3ls_banner_txt">
                                            <h3 class="b-w3ltxt text-capitalize mt-md-4" style="font-family: 'Segoe UI'"><span>Quan tâm đến răng của</span> Bạn
                                            </h3>
                                            <p class="w3ls_pvt-title my-3">được thành lập vào năm 2005 với cơ sở đầu tiên tọa lạc tại địa chỉ: 411 Nguyễn Kiệm, phường 9, quận Phú Nhuận, TPHCM. Sau 12 năm hoạt động, chúng tôi tiếp tục mở rộng quy mô hoạt động bằng việc khai trương thêm
                                                cơ sở 2: tại số 614 Lê Hồng Phong, phường 10, quận 10, TPHCM vào năm 2017 để đáp ứng chất lượng dịch vụ ngày càng tốt hơn cho lượng khách hàng ngày càng tăng.</p>
                                            <a href="about.html" class="btn btn-banner my-sm-3 mb-3">Đọc thêm</a>
                                            <a href="contact.html" class="btn btn-banner1 my-sm-3 mb-3">Ý kiến chuyên gia</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="container-fluid">
                                        <div class="w3ls_banner_txt">
                                            <h3 class="b-w3ltxt text-capitalize mt-md-4" style="font-family: 'Segoe UI'"><span>Đội ngũ nhân viên</span> Chuyên nghiệp.</h3>
                                            <p class="w3ls_pvt-title my-3">Phòng khám nha khoa thực hiện kĩ thuật chuyên môn được Giám đốc Sở Y tế phê duyệt ban hành kèm theo giấy phép hoạt động. Chúng tôi luôn tuân thủ nghiêm ngặt các quy định về đảm bảo vô trùng trong quá trình thăm
                                                khám và điều trị của Sở Y tế.</p>
                                            <a href="about.html" class="btn btn-banner my-sm-3 mb-3">Đọc thêm</a>
                                            <a href="contact.html" class="btn btn-banner1 my-sm-3 mb-3">Ý kiến chuyên gia</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="navigation">
                                <div>
                                    <label for="slides_1"></label>
                                    <label for="slides_2"></label>
                                    <label for="slides_3"></label>
                                </div>
                            </div>
                        </div>
                        <!-- //banner slider-->

                    </div>
                    <div class="col-lg-6 col-md-8">
                        <img src="assets/template/images/banner.png" alt="" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->

<section class="services py-5">
    <div class="container py-lg-5">
        <h3 class="heading text-center mb-sm-5 mb-4">Đặt Ngay</h3>
        <div class="row offer-grids">

            <div class="col-lg-6 col-md-6 col-sm-6 pr-5">
                <!-- <div class="ser1"> -->
                <div class="">
                    <!-- <div class="bg-layer"> -->
                    <div class="" id="registerForm">
                        <h4 style="font-size: 3rem;">ĐĂNG KÝ</h4>
                        <h2 style="font-weight: 900; font-size: 3rem;">LỊCH KHÁM</h2>
                        <h3 style="font-size: 3rem;">TRỰC TUYẾN</h3>
                        <p class="lead">Hãy cung cấp một vài thông tin cho chúng tôi, nhân viên của chúng tôi sẽ liên hệ với bạn sau khi lịch khám được duyệt.</p>
                        <p>Hôm nay bạn cảm thấy thế nào, đã ổn chưa? Hãy để các bác sĩ của chúng tôi chăm sóc các bạn nhé</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="ser1">
                    <div class="bg-layer">
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="fname">Họ & tên</label>
                                <input type="text" id="fname" class="form-control" placeholder="Họ và tên" #name>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="fname">Email</label>
                                <input type="text" id="fname" class="form-control" placeholder="Email" #email>
                            </div>
                            <div class="col-md-6">
                                <label class="font-weight-bold" for="lname">SĐT</label>
                                <input type="text" id="lname" class="form-control" placeholder="số điện thoại" #phone>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="date">Ngày</label>
                                <input type="date" id="date" (input)="onPickDate($event.target.value)" class="form-control datepicker px-2" placeholder="Date of visit" #date>
                            </div>
                            <div class="col-md-6">
                                <label class="font-weight-bold" for="email">Giờ</label>
                                <select class="form-control" #time>
                                    <option *ngFor="let item of listFreeTime" value="{{item}}">{{item}}</option>
                                    <!-- <option *ngFor="let item of listTime" value="{{{item.time}}">{{item.time}}
                                    </option> -->
                                    
								</select>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="font-weight-bold" for="treatment">Tệp đính kèm</label>
                                <input type="file" class="form-control" placeholder="số điện thoại" (change)="onFileSelected($event.target.files)">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="font-weight-bold" for="note">Tin nhắn</label>
                                <textarea name="note" id="note" cols="30" rows="5" class="form-control" placeholder="Nhập ghi chú hoặc câu hỏi của bạn..." #message></textarea>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Đặt lịch" class="btn btn-primary" (click)="onRegister(name.value,email.value,phone.value,date.value,time.value,message.value)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- about -->
<section class="about py-5">
    <div class="container py-md-3">
        <h2 class="heading text-center mb-sm-5 mb-4">Về chúng tôi</h2>
        <div class="row">
            <div class="col-lg-8">
                <h4 class="about-left">Hãy nhẹ nhàng với những người mạnh mẽ nhất!</h4>
                <p class="mt-sm-4 mt-3">cam kết đem đến cho khách hàng các gói dịch vụ chất lượng hàng đầu với mức chi phí tốt nhất thị trường hiện nay. Dưới đây Nha Khoa Đông Nam cung cấp bảng giá chi tiết các dịch vụ nha khoa đang được áp dụng như: cấy ghép Implant, niềng
                    răng, bọc răng sứ… nhằm giúp khách hàng dễ dàng theo dõi hơn.
                </p>
                <div class="row mt-4">
                    <div class="col-md-3 col-6">
                        <div class="about-box">
                            <span class="icon">
								<span class="fa fa-birthday-cake"></span>
                            </span>
                            <h4>Chữa tủy</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="about-box">
                            <span class="icon">
								<span class="fa fa-rocket"></span>
                            </span>
                            <h4>Tẩy trắng</h4>
                        </div>
                    </div>
                    <!-- .about-box ends here -->
                    <div class="col-md-3 col-6 mt-md-0 mt-4">
                        <div class="about-box">
                            <span class="icon">
								<span class="fa fa-stethoscope"></span>
                            </span>
                            <h4>Kiểm tra</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mt-md-0 mt-4">
                        <div class="about-box">
                            <span class="icon">
								<span class="fa fa-coffee"></span>
                            </span>
                            <h4>Khám răng</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 dental">
                <img src="assets/template/images/tooth.png" class="img-fluid" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- //about -->

<!-- about bottom -->
<section class="about-bottom pb-5">
    <div class="container pb-lg-3">
        <div class="row bottom-grids">
            <div class="col-lg-6">
                <img src="assets/template/images/about.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <h4>Khám răng định kỳ và kiểm tra với giá 699.000đ</h4>
                <p class="py-3">Quá trình hoạt động lâu dài và thăng tiến không ngừng của phòng khám nha khoa G-Dental nhờ phần lớn vào sự tin cậy của quí khách. Chúng tôi sẽ tiếp tục nỗ lực, cải tiến không ngừng và cung cấp đa dạng giải pháp để đáp ứng nhu cầu của bệnh
                    nhân.
                </p>
                <p class="">Chúng tôi xin cam kết luôn hướng đến quyền lợi thật sự cho quí khách và sẽ liên tục nỗ lực nhằm đưa đến cho bệnh nhân Việt Nam giải pháp và kết quả điều trị như tại các nước tiên tiến.</p>
            </div>
        </div>
    </div>
</section>
<!-- //about bottom -->

<!-- services -->
<section class="services py-5">
    <div class="container py-lg-5">
        <h3 class="heading text-center mb-sm-5 mb-4">Dịch vụ của chúng tôi</h3>
        <div class="row offer-grids">
            <div class="col-lg-4 col-md-6">
                <div class="ser1">
                    <div class="bg-layer">
                        <h4 class="">Cấy ghép IMPLANT</h4>
                        <p class="mt-3">Rất nhiều người nghĩ cấy ghép Implant sẽ “kinh khủng” lắm. Sự thật không hẳn là như vậy, cấy ghép Implant đơn thuần (không có ghép xương) được...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                <div class="ser2">
                    <div class="bg-layer">
                        <h4 class="">Chỉnh Nha</h4>
                        <p class="mt-3">Invisalign là một kỹ thuật điều trị mới của công nghệ chỉnh nha ngày nay. Invisalign là một loạt khay trong suốt được bệnh nhân mang để di chuyển...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="ser3">
                    <div class="bg-layer">
                        <h4 class="">Nha Khoa Thẩm Mỹ</h4>
                        <p class="mt-3">Nếu bạn đã từng mong muốn một kết quả tẩy trắng răng hiệu quả nhất có thể, bạn có thể nghĩ đến hệ thống Zoom White Speed...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="ser4">
                    <div class="bg-layer">
                        <h4 class="">Răng giả tháo lắp</h4>
                        <p class="mt-3">Làm răng giả tháo lắp giúp cải thiện tính thẩm mỹ cho khuôn mặt, tăng sức ăn nhai, giúp ăn ngon miệng hơn đặc biệt tăng khả năng phát âm của bệnh nhân...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="ser5">
                    <div class="bg-layer">
                        <h4 class="">Trám răng thẩm mỹ</h4>
                        <p class="mt-3">Sâu răng: Đối với các lỗ sâu nhỏ nên tiến hành trám răng để ngăn chặn sâu lan rộng, có thể nhiễm trùng tủy răng dẫn tới đau dữ dội...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="ser6">
                    <div class="bg-layer">
                        <h4 class="">Điều trị tủy răng</h4>
                        <p class="mt-3">Tủy răng là một mô liên kết đặc biệt, có cấu trúc phức tạp, giàu mạch máu và sợi thần kinh, nằm trong hốc tủy, được bao quanh bởi mô cứng của răng (men và ngà răng)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services -->

<!-- testimonials -->
<section class="feedback" id="testimonials">
    <div class="feedback-layer py-5">
        <div class="container py-lg-5">
            <h3 class="heading text-center mb-sm-5 mb-4">Chứng nhận</h3>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="feedback-info">
                        <div class="feedback-top p-4">
                            <span class="fa fa-quote-right"></span>
                            <p>Thank you! I am very satisfied with the service of G-Dental Clinic. The docfor and his assistant took such a great care of me. You can trust that you receive the best from the service to doctor’s skills. They are the best doctors/dentists.</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="assets/template/images/ser1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="feedback-img-info">
                                <h5>Mary Jane</h5>
                                <p class="font-italic">- 03-03. 2019</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="feedback-info">
                        <div class="feedback-top p-4">
                            <span class="fa fa-quote-right"></span>
                            <p>Tôi tên Phan Thị Phước Sang xin cảm ơn toàn thể anh em nha khoa G-Dental, đặc biệt là bác Triệu, người đã giúp tôi có một nụ cười mới, mang đến một niềm hạnh phúc và niềm tin tốt đẹp hơn.</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="assets/template/images/ser2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="feedback-img-info">
                                <h5>Sang Phan</h5>
                                <p class="font-italic">- 10-03. 2019.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="feedback-info">
                        <div class="feedback-top p-4">
                            <span class="fa fa-quote-right"></span>
                            <p>Mình làm 2 răng sứ bằng hệ thống Cerec rất nhanh và đẹp, độ chính xác rất cao và được thực hiện bởi bác sĩ Triệu, bác sĩ rất tận tình, nhẹ nhàng và rất kinh nghiệm trong xử lý.</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="feedback-grids">
                            <div class="feedback-img">
                                <img src="assets/template/images/ser3.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="feedback-img-info">
                                <h5>Trần Hửu Nghĩa</h5>
                                <p class="font-italic">- 15-02. 2019.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //testimonials -->

<!-- blog -->
<section class="blog py-5">
    <div class="container py-md-5 py-3">
        <h3 class="heading text-center mb-sm-5 mb-4">Tin tức mới</h3>
        <div class="row blog-grids">
            <div class="col-lg-7 mb-lg-5 blog-img1">
                <img src="assets/template/images/blog1.jpg" alt="" class="img-fluid" />
                <a href="single.html">Blog #1</a>
            </div>
            <div class="col-lg-5 mb-lg-5 mb-4">
                <h5>Ngày 3 tháng 2, 2020.</h5>
                <h4 class="my-3">LÌ XÌ TRAO TAY – NHẬN NGAY ƯU ĐÃI TRỊ GIÁ ĐẾN 1 TRIỆU ĐỒNG</h4>
                <p class="my-3">Mừng khai xuân 2020, Nha khoa G-Dental tổ chức chương trình “LÌ XÌ TRAO TAY – NHẬN NGAY ƯU ĐÃI” như một món quà lì…</p>
                <a href="single.html" class="btn-banner"> Xem bài </a>
            </div>
            <div class="col-lg-5 mb-lg-0 mb-4">
                <h5>Ngày 01 tháng 01, 2020</h5>
                <h4 class="my-3">Chứng nhận TOP 10 thương hiệu uy tín</h4>
                <p class="my-3">Ngày 10/01/2020, phòng khám G-Dental đã vinh dự nhận được CHỨNG NHẬN TOP 10 THƯƠNG HIỆU TIN CẬY, SẢN PHẨM CHẤT LƯỢNG, DỊCH VỤ TẬN TÂM NĂM do Viện Chính Sách, Pháp Luật & Quản Lý phối hợp cùng Viện Nghiên cứu Văn hóa và Phát triển tổ chức.</p>
                <a href="single.html" class="btn-banner"> Xem bài </a>
            </div>
            <div class="col-lg-7 blog-img2">
                <img src="assets/template/images/blog1.jpg" alt="" class="img-fluid" />
                <a href="single.html">Blog #2</a>
            </div>
        </div>
    </div>
</section>
<!-- //blog -->

<!-- appointment -->
<section class="appointment text-center py-5">
    <div class="container py-sm-3">
        <h4>biến nụ cười của bạn thành hiện thực</h4>
        <p class="mt-3">Liên hệ chúng tôi để đặt lịch ngay hôm nay</p>
        <a href="#registerForm">Đặt Lịch Khám</a>
    </div>
</section>
<!-- //appointment -->