<!-- top header -->
<div class="header-top" id="hometop">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="d-lg-flex header-w3_pvt">
                    <li class="mr-lg-3">
                        <!-- <div class="fb-customerchat" page_id="110366170637769"></div> -->
                        <span class="fa fa-envelope-open"></span>
                        <a href="mailto:info@example.com" class="">gladental@gmail.com</a>
                    </li>
                    <li>
                        <span class="fa fa-phone"></span>
                        <p class="d-inline">Đường dây nóng +12 345 678</p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 header-right-w3_pvt">
                <ul class="d-lg-flex header-w3_pvt justify-content-lg-end">
                    <li class="mr-lg-3">
                        <span class=""><span class="fa fa-clock-o"></span>T2 - T6 : 8:00am to 8:00pm</span>
                    </li>
                    <li class="">
                        <span class=""><span class="fa fa-clock-o"></span>T7 & CN : 9:00am to 6:00pm</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- //top header -->

<!-- //header -->
<header class="py-3">
    <div class="container">
        <div id="logo">
            <h1> <a href="index.html"><span class="fa fa-stethoscope" aria-hidden="true"></span>Nha Khoa G-Dental</a></h1>
        </div>
        <!-- nav -->
        <nav class="d-lg-flex">

            <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
            <input type="checkbox" id="drop" />
            <ul class="menu mt-2 ml-auto">
                <li class="active"><a href="index.html">Trang chủ</a></li>
                <li class=""><a [routerLink]="[ '/service' ]">Thông tin</a></li>
                <li class=""><a [routerLink]="[ '/servicecost' ]">Bảng giá</a></li>
                <!-- <li class=""><a [routerLink]="[ './schedule' ]">Schedule</a></li> -->
                <li class=""><a href="/gdental/chatbot" target="_blank">Chatbot</a></li>
                <li class=""><a href="about.html">Liên hệ</a></li>
                <!-- <li class=""><a [routerLink]="[ './contact' ]">Contact Us</a></li> -->
            </ul>
            <div class="login-icon ml-2">
                <a class="user" href="#registerForm">Đặt ngay</a>
            </div>
        </nav>
        <div class="clear"></div>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->

<router-outlet></router-outlet>

<!-- footer -->
<footer class="py-5">
    <div class="container py-sm-3">
        <div class="row footer-grids">
            <div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
                <h4 class="mb-sm-4 mb-3"><span class="fa fa-stethoscope"></span>Sức khỏe</h4>
                <p class="mb-3">Chúng tôi nổ lực hết sức mình để bảo vệ nụ cười của bạn.</p>
                <h5>Tin tưởng bởi <span>500+ khách hàng</span> </h5>
            </div>
            <div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
                <h4 class="mb-sm-4 mb-3">Địa chỉ</h4>
                <p><span class="fa mr-2 fa-map-marker"></span>999 Mậu Thân, Xuân Khánh<span> Ninh Kiều, Cần Thơ.</span></p>
                <p class="phone py-2"><span class="fa mr-2 fa-phone"></span> +1(12) 123 456 789 </p>
                <p><span class="fa mr-2 fa-envelope"></span><a href="mailto:info@example.com">hi@gdental.com.vn</a></p>
            </div>
            <div class="col-lg-2 col-sm-6 mb-sm-0 mb-4">
                <h4 class="mb-sm-4 mb-3">Đường dẫn</h4>
                <ul>
                    <li><a href="#">Điều khoản</a></li>
                    <li class="my-2"><a href="#">Đường dây nóng</a></li>
                    <li><a href="#">Mẹo nhỏ</a></li>
                    <li class="mt-2"><a href="#">Chính sách</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-6">
                <h4 class="mb-sm-4 mb-3">Theo dõi</h4>
                <p class="mb-3">Theo dõi các tin tức mới</p>
                <form action="#" method="post" class="d-flex">
                    <input type="email" id="email" name="EMAIL" placeholder="Nhập đỉa chỉ email ở đây" required="">
                    <button type="submit" class="btn">Đăng ký</button>
                </form>
                <div class="icon-social mt-3">
                    <a href="https://www.facebook.com/gladental" class="button-footr">
                        <span class="fa mx-2 fa-facebook"></span>
                    </a>
                    <a href="https://www.facebook.com/gladental" class="button-footr">
                        <span class="fa mx-2 fa-twitter"></span>
                    </a>
                    <a href="https://www.facebook.com/gladental" class="button-footr">
                        <span class="fa mx-2 fa-dribbble"></span>
                    </a>
                    <a href="https://www.facebook.com/gladental" class="button-footr">
                        <span class="fa mx-2 fa-pinterest"></span>
                    </a>
                    <a href="https://www.facebook.com/gladental" class="button-footr">
                        <span class="fa mx-2 fa-google-plus"></span>
                    </a>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- //footer -->

<!-- copyright -->
<div class="copyright">
    <div class="container py-4">
        <div class=" text-center">
            <p>© 2020 G-Dental Health. All Rights Reserved | Developed by <a href="https://github.com/baphuc1998" target="_blank" style="color: darkviolet;"> baphuc1998</a> | Layout Designed by W3layouts
            </p>
        </div>
    </div>
</div>
<!-- //copyright -->

<!-- move top -->
<div class="move-top text-right">
    <a (click)="gotoTop()" class="move-top" style="cursor: pointer;">
        <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
    </a>
    <!-- <div class="move-top">
        <span (click)="gotoTop()" class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
    </div> -->

</div>
<!-- move top -->


<!-- **************** -->